.char-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: -1rem;
  margin-top: 28.5rem;
  background: none;
  z-index: 1000;
}


.char-controls button {
  background: none;
  color: #fff;
  border: none;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.6rem;
  /* Reduce spacing between buttons */
}

.Newsetion {
  background: #191919;
  border-radius: 1rem;
  margin-top: -8rem;
  color: #fff;
  width: 53vw;
  min-height: 23vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem 2em;
  box-shadow: 0 2px 8px #0002;
  margin-left: 0;
  align-self: flex-end;
}

.Newsetion-content {
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.Newsetion-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
  color: #fff;
}

.Newsetion-text {
  font-size: 1.2rem;
  color: #ccc;
  max-width: 320px;
  margin-bottom: 0;
}

.imgmnew {
  width: 12vw;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
  background: none;
  margin-left: 2.5rem;
  flex-shrink: 0;
}