.chart-horizontal-container {
    background: #191919;
    border-radius: 1rem;
    margin-top: -6.4rem;
    color: #fff;
    width: 19rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0.125rem 0.5rem #0002;
    align-self: flex-end;
    padding: 0.4rem 1rem;
    margin-left: 0;
}

.chart-horizontal-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 0rem;
}

.chart-horizontal-bar-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.chart-horizontal-bar {
    height: 0.5rem;
    border-radius: 0.375rem;
    margin-right: 0.125rem;
    /* 0.2rem ≈ 0.125rem */
    transition: width 0.3s;
    min-width: 0.625rem;
    /* 10px = 0.625rem */
}

.chart-horizontal-bar-value {
    color: #fff;
    font-size: 0.7rem;
    min-width: 2.5rem;
    text-align: left;
}