.chart-card {
    height: 49vh;
    width: 61.3vw;
    background: #232323;
    border-radius: 1rem;
    /* 16px */
    padding: 1rem 1.4rem;
    /* 22px 18px */
    color: #fff;
    box-sizing: border-box;
    position: fixed;
    top: 47vh;
    /* Distancia desde arriba */
    left: 35vw;
    /* Distancia desde la izquierda */
    z-index: 1000;
}

.chart-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -0.5rem;
    margin-bottom: 0;
    border-bottom: #bdbdbd solid 1.4px;
}

.chart-title {
    border: #ffe066;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.5rem;
    /* 8px */
    font-size: 1.5rem;
    font-weight: 600;
    font-weight: 600;
}

.chart-controls {
    display: flex;
    gap: 0.5rem;
    /* 8px */
}

.chart-btn {
    background: #191919;
    color: #ffe066;
    border: none;
    border-radius: 0.5rem;
    /* 8px */
    padding: 0.25rem 0.75rem;
    /* 4px 12px */
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s;
}

.chart-btn.active,
.chart-btn:hover {
    background: #ffe066;
    color: #232323;
}

.chart-currency {
    background: #191919;
    color: #d4d2c7;
    border: none;
    border-radius: 0.5rem;
    /* 8px */
    padding: 0.25rem 0.5rem;
    /* 4px 8px */
    margin-left: 0.5rem;
    /* 8px */
}

.chart-subheader {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0.4rem -0.2rem 0.1rem -0.1rem;
    /* 12px 0 8px 0 */
    color: #bdbdbd;
}

.chart-balance {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}