:root {
    --HOLA-font-family: "Inter", Helvetica;
    --HOLA-font-weight: 400;
    --HOLA-font-size: 12px;
    --HOLA-letter-spacing: 0px;
    --HOLA-line-height: normal;
    --HOLA-font-style: normal;
  }